// **************************Header***********************************
header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000014;

    .btn {
        padding: 10px 20px;
        border-radius: 25px;
    }

    .btn-outline-dark {
        background: #343A400A;
        border: 1px solid #343A40;
        border-radius: 50px;
    }
}

.custom-container{
    @media all and (min-width:1441px){
        max-width: 91.67%;

    }
}

// ******************************************** Auth CSS *****************************************
.signin-form {
    min-height: 100vh;

    h3 {
        margin-bottom: 32px;
    }

    .login-btn {
        margin-top: 30px;

        .btn {
            padding: 12px;
            letter-spacing: 0.16px;
            font-weight: bold;
        }
    }
}

.signin-banner {
    max-height: 100vh;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}