::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: $primary-color;
}


.banner-title {
    padding-top: 60px;
    padding-bottom: 42px;
}

// ************************************Boat Details section****************************
.banner-image {
    max-height: 100vh;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.banner-content {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.banner-footer {
    padding: 20px 0;

    .btn {
        font-weight: 600;
    }

    .back-btn {
        color: $primary-color !important;
        border: none;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background: url('../icons/arrow_back.svg') no-repeat;
            height: 100%;
            width: 100%;
            left: -7px;
        }
    }
}

// ************************************Add Passenger section****************************
.add-passenger {
    input {
        width: 10px;
        padding: 0;
        border: 0;
        font-weight: 600;
        font-size: 16px;
    }

    p {
        font-size: 18px;
        font-weight: normal;
    }
}

// ************************************Place Location section****************************
.location {
    box-shadow: 0px 4px 8px #00000014;
    border: 1px solid $light-gray;
    padding: 24px;
}

.specific-location {
    .form-check-input {
        padding: 10px 0;
    }

    a {
        color: $light-black;
    }
}

// ************************************add Photos section****************************
.upload-image {
    min-height: 176px;
    border: 2px dashed #343A404D;
    position: relative;
    border-radius: 8px;

    .form-control {
        min-height: 176px;
    }

    label {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
    }

    input {
        opacity: 0;
    }
}

.uploaded-image {
    min-height: 176px;

    img {
        height: 100%;
        min-height: 176px;
    }
}

.modify-image {
    width: 100%;
    right: 0px;
    padding-inline: 10px;
    top: 10px;
}

.edit {
    height: 36px;
    width: 36px;
    background: $white;
    border: 1px solid $light-gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 30px;
        width: 30px;
    }
}

.cover-image {
    width: fit-content;
    height: fit-content;
    background: #00000099;
    border-radius: 2px;
    font-size: 12px;
    color: $white;
    padding: 2px 5px;
}

// ************************************add Photos section****************************

.text-area {
    min-height: 120px !important;
}

// ************************************Morning Panormic section****************************
.morning-banner {
    img {
        height: 100%;
        width: 100%;
    }
}

.price-card {
    box-shadow: 0px 4px 14px #0000001A;
    border-radius: 10px;
}

.ant-picker {
    box-shadow: none !important;
    border-radius: $radius;
    border: 1px solid $light-gray;
    padding: 14px 20px;
    width: 100%;
}

.morning-content {
    ul {
        li {
            padding-block: 7px;
        }
    }

    .map {
        border-radius: 6px;
    }

    .location-icon {
        width: fit-content;
    }

    .location-text {
        width: fit-content;
        height: fit-content;
        background: $white;
        padding: 14px 26px;
        border-radius: $radius;
    }
}

// ************************************Boat Listing section****************************

.status-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: $primary-color;
}
.table {

    th,
    td {
        padding: 15px;
        vertical-align: middle;
        white-space: nowrap;
    }

    th {
        font-size: 12px;
        font-weight: bold;
    }

    td {
        font-size: 16px;
    }

    .thead {
        background: #F8F8F8;
    }
}

.boat-image {
    height: 58px;
    width: 90px;
    overflow: hidden;
    border-radius: $radius;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


.ant-tabs {
    .ant-tabs-tab {
        font-size: 18px;
        padding-inline: 10px;

        &:hover {
            color: $light-black;
        }

        &:focus {
            color: $light-black;
        }

        &:active {
            color: $light-black;
        }
    }
}

.ant-tabs {
    .ant-tabs-tab.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
            color: $dark-black;
            border-color: $dark-black;
        }
    }
}

.ant-tabs {
    .ant-tabs-ink-bar {
        background: $dark-black;
    }
}

// ************************************Profile section****************************

.user-profile {
    border: 1px solid $light-gray;
    padding-block: 41px;

    .profile-image {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 24px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.name {
    border: 1px solid $light-gray;
    border-radius: $radius;
    padding: 20px 24px;
}


// ************************************Morning panormic lisiting section****************************
.morning-panormic-listing {
    background: $white-2;
    .tab-box {
        height: 90vh;
        overflow: hidden;

        // overflow: hidden;
        .tab-content {
            height: 100%;
            overflow: auto;
        }

        .nav {
            min-width: 300px;
            width: 300px;
            padding: 20px 20px;
            // height: 100%;
        }
    }

    .nav-link {
        background: transparent;
        color: $light-black !important;
        font-weight: bold;
        padding: 0;
        opacity: 0.8;
    }

    .nav-pills .nav-link.active {
        background: transparent;
        color: $light-black !important;
        opacity: 1;
    }

    .accordion-item {
        border: none;
    }

    .accordion-button {
        background: transparent;
        color: $light-black !important;
        box-shadow: none !important;
        font-weight: bold;
    }

    .accordion-button::after {
        display: none;
    }

    .accordion-body {
        li {
            border-left: 1px solid $light-gray;
        }

        .nav-link {
            font-weight: normal;
            font-size: 14px;
            padding: 10px 12px;
            border-radius: 0;
            color: $light-black;
            border-left: 2px solid transparent;
            outline: none;

            &:focus {
                border-left: 2px solid $primary-color;
            }
        }
    }
}

.amenities-list {
    li {
        padding-block: 7px;
    }
}
.Pricing{
    padding: 40px;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .list-btn{
    .btn{
        border-radius: 10px;
    }
  }

  .profile-btn{
    position: relative;
    input{
       opacity: 0;
        width: 30%;
        height: 38px;
        cursor: pointer;

    }
    .btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        cursor: pointer;
    }
  }