h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 30px;
    color: $dark-black;
}

h3 {
    font-size: 26px;
    color: $light-black;
}

h4 {
    font-size: 22px;
    color: $light-black;
}

h5 {
    font-size: 20px;
    color: $light-black;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.btn {
    font-size: 16px;
    font-weight: normal;
}

p {
    margin: 0;
    font-size: 16px;
    color: $light-black;
}

label {
    color: $light-black;
    font-size: 16px;
    font-weight: normal;
}

.btn-yellow {
    background: $primary-color !important;
    color: $white !important;
    border: 0;
    border-radius: 4px;
}

::placeholder {
    font-size: 16px;
    color: $light-black;
    font-weight: normal;
}

.form-control {
    box-shadow: none !important;
    border-radius: $radius;
    border: 1px solid $light-gray;
    padding: 14px 20px;
}

.form-control:hover {
    border-color: $primary-color;
}

.form-control:focus {
    border-color: $primary-color;
}

.form-check-input {
    box-shadow: none !important;
    border-radius: 2px !important;
}

.form-check-radio {
    box-shadow: none !important;
    border-radius: 50% !important;
}

.form-check-input:checked {
    background-color: $primary-color;
    border-color: $primary-color;
}

.form-check-input:focus {
    border-color: $primary-color;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ant-select {
    .ant-select-selector {
        box-shadow: none !important;
        border-radius: $radius !important;
        border: 1px solid $light-gray !important;
        padding: 10px 20px !important;
        height: auto !important;

        &:hover {
            border-color: $primary-color !important;
        }

        &:active {
            border-color: $primary-color !important;
        }
    }

}

.form-switch .form-check-input:focus {
    background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e');
}