@import "assets/css/theme.scss";
@import "assets/css/layout.scss";
@import "assets/css/typography.scss";
@import "assets/css/style.scss";

// @font-face {
//     font-family: 'Nunito', sans-serif;
//     src: url('./assets/fonts/Nunito/static/Nunito-Regular.ttf');
//     font-weight: normal;
// }

// @font-face {
//     font-family: 'Nunito', sans-serif;
//     src: url('./assets/fonts/Nunito/static/Nunito-SemiBold.ttf');
//     font-weight: medium;
// }
// @font-face {
//     font-family: 'Nunito', sans-serif;
//     src: url('./assets/fonts/Nunito/static/Nunito-Bold.ttf');
//     font-weight: bold;
// }
body{
    font-family: 'Nunito', sans-serif;
    // background: $white-2;
    height: 100%;
}
html{
    height: 100%;
}


div#root {
    height: 100%;
}